* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", serif;
  margin: 0 150px;
  background-color: #f5f5f5;
}

button {
  cursor: pointer;
}

/* nav style start here  */

nav {
  display: flex;
  padding: 35px 0;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 32px;
  color: #0e0e0e;
}

.nav-btn {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  color: #006a50;
  border: 1px solid #006a50;
  border-radius: 8px;
}

/* nav style end here  */

/* banner style here  */

.banner {
  display: flex;
  justify-content: space-between;
  padding: 80px 45px;
  background-color: #c6e4d6;
  border-radius: 24px;
  margin-bottom: 80px;
}

.banner-title {
  font-weight: 500;
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 20px;
}

.banner-description {
  font-weight: 700;
  font-size: 55px;
  color: #0e0e0e;
  margin-bottom: 30px;
}
.banner-btn {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  background-color: #006a50;
  color: #fff;
  border: 1px solid #006a50;
  border-radius: 8px;
}

/* banner end here  */

/* pillar section styles start here  */
.title {
  font-weight: 700;
  font-size: 40px;
  color: #0e0e0e;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  margin: 50px 0;
  gap: 20px;
}

.card-item {
  padding: 18px;
  background-color: #fff;
  border-radius: 16px;
}

.card-item > img {
  margin-bottom: 24px;
}

.card-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-info {
  color: rgba(14, 14, 14, 0.7);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* pillar section styles end here  */

/* vission section styles start here  */
.vission-description {
  color: rgba(14, 14 14, 0.7);
  font-weight: 400;
  font-size: 16px;
  margin: 15px 0;
}

.vission-card-container {
  display: flex;
  gap: 30px;
  margin: 32px 0;
}

.vission-card-item1 {
  background-color: rgba(84, 144, 245, 0.2);
  padding: 24px;
  border-radius: 16px;
}

.card-btn1 {
  padding: 10px 20px;
  color: #fff;
  background-color: #5490f5;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

.vission-card-item2 {
  background-color: #c6e4d6;
  padding: 24px;
  border-radius: 16px;
}

.card-btn2 {
  padding: 10px 20px;
  color: #fff;
  background-color: #09a15c;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

.vission-card-item3 {
  background-color: #f7ebcf;
  padding: 24px;
  border-radius: 16px;
}

.card-btn3 {
  padding: 10px 20px;
  color: #fff;
  background-color: #ffc239;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

.vission-quate {
  background-color: #fff;
  padding: 48px 24px;
  border-radius: 16px;
  position: relative;
  margin-bottom: 94px;
}
.quate-img {
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 13%;
}

/* vission section styles end here  */

/* opinion section styles start here  */
table {
  width: 100%;
}

.table-box {
  background-color: #fff;
  padding: 32px 32px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 16px;
}

table,
th,
td {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-collapse: collapse;
  padding: 24px 24px;
}

.headline {
  background-color: #c6e4d6;
  width: 70%;
}
.headline-left {
  width: 80%;
  border-right: 0;
}

.text-right {
  text-align: right;
  color: #0e0e0e;
  font-size: 20px;
  font-weight: 500;
}
.text-left {
  text-align: left;
  color: #0e0e0e;
  font-size: 20px;
  font-weight: 500;
}

.text-center {
  text-align: center;

  padding: 10px 14px;
  font-size: 16px;
  font-weight: 500;
}

select {
  background-color: #c6e4d6;
  border-radius: 4px;
}

/* opinion section styles end here  */

/* news section styles start here  */
.news-btn {
  padding: 13px 26px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  background-color: #006a50;
  border: none;
  border-radius: 8px;
  margin-top: 50px;
}

.news-card-item {
  display: flex;
  padding: 48px;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 24px;
  gap: 32px;
}

.news-title {
  font-size: 32px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
  margin: 10px 0;
}

.news-img {
  border-radius: 24px;
}
/* news section styles end here  */

/* donate section styles start here  */
.donate {
  text-align: center;
  margin: 80px 0;
  padding: 0 100px;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-field > input {
  padding: 18px 400px;
  border: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
}

.input-field > input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.3);
}

.donate-card-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.donate-card {
  padding: 30px 30px;
  border-radius: 16px;
  background-color: #fff;
}

.donate-card:hover {
  background-color: #c6e4d6;
}
.active {
  background-color: #c6e4d6;
}

.hover-btn:hover {
  background-color: #0f4029;
}
/* donate section styles end here  */
/* subscription section styles start here  */
.subscribe {
  text-align: center;
  margin: 80px 0;
  padding: 50px 100px;
  background-color: #c6e4d6;
  border-radius: 24px;
}
.sub-btn {
  padding: 16px 26px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  background-color: #006a50;
  border: none;
  border-radius: 0 8px 8px 0;
  margin-top: 50px;
}

.input-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}
.input-sub input::placeholder {
  padding-left: 10px;
  color: rgba(14, 14, 14, 0.3);
}
.input-sub input {
  padding: 14px;
  border-radius: 4px 0 0 4px;
  border: none;
  width: 80%;
}
.input-sub button {
  padding: 13px 20px;
  outline: none;
  border: none;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #006a50;
  color: #fff;
}

/* subscription section styles end here  */

/* footer section styles start here  */

footer {
  margin: 50px 0;
}
.title-footer {
  font-size: 32px;
  font-weight: bold;
  color: #0e0e0e;
  text-align: center;
  margin: 20px 100px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
}

.icon-box {
  display: flex;
  gap: 15px;
  justify-content: center;
}
/* footer section styles end here  */
